<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">

	<ui:define name="titre">
		Add User
	</ui:define>

	<ui:define name="content">

		<h:form id="addemploye">
			<h:panelGrid columns="2" id="addemppanel">
			
			<h:outputLabel value="Type Employé" />
			<h:selectOneRadio value="#{employeBean.typeEmploye}">
				<f:selectItem itemLabel="Ingenieur" itemValue="ing"/>
					<f:selectItem itemLabel="Technicien" itemValue="tech"/>
			</h:selectOneRadio>
			
				<h:outputLabel value="Name : " />
				<h:inputText value="#{employeBean.name}" />
				
				<h:outputLabel value="Last Name : " />
				<h:inputText value="#{employeBean.lastname}" />
								
				<h:outputLabel value="Login : " />
				<h:inputText value="#{employeBean.login}" required="true" requiredMessage="Champ obligatoire">
				</h:inputText>
				
				<h:outputLabel value="date Naissance : " />
				<h:inputText value="#{employeBean.dateNaissance}">
					<f:convertDateTime pattern="dd/MM/yyyy"/>
				</h:inputText>
				
				<h:outputLabel value="Nationalité : " />
				<h:selectOneMenu value="#{employeBean.nationalite}">
					<f:selectItem itemValue="" itemLabel="Choisir nationalité"/>
					<f:selectItems value="#{employeBean.nationalites}"></f:selectItems>
				</h:selectOneMenu>
				 
				<h:commandButton action="#{employeBean.add()}" value="Add User" />
				<h:messages style="color: green"/>
				
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
