<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">

	<ui:define name="titre">
		Gestion des employées
	</ui:define>

	<ui:define name="content">
		<h:form id="formlist">
			<h:dataTable value="#{employeBean.employes}" var="emp" border="1" style="align:center" width="80%">
				<h:column>
					<f:facet name="header">Nom</f:facet>
					<h:outputText value="#{emp.name}" />
				</h:column>
								<h:column>
					<f:facet name="header">Last Name</f:facet>
					<h:outputText value="#{emp.lastName}" />
				</h:column>
								<h:column>
					<f:facet name="header">Login</f:facet>
					<h:outputText value="#{emp.login}" />
				</h:column>
								<h:column>
					<f:facet name="header">Nationalite</f:facet>
					<h:outputText value="#{emp.nationalite}" />
				</h:column>
				<h:column>
					<f:facet name="header">Date Daissance</f:facet>
					<h:outputText value="#{emp.dateNaissance}" />
				</h:column>
				<h:column>
					<f:facet name="header">Update</f:facet>
					<h:commandLink action="#{employeBean.preUpdate(emp)}" value="Update" />
				</h:column>
				<h:column>
					<f:facet name="header">Delete</f:facet>
					<h:commandLink action="#{employeBean.delete(emp.id)}" value="Delete" />
				</h:column>
			</h:dataTable>
		</h:form>
		<div></div>
		<h:form id="upemploye">
			<h:panelGrid columns="2" id="upemppanel" rendered="#{employeBean.etat}">
			
				<h:outputLabel value="Name" />
				<h:inputText value="#{employeBean.employe.name}" />
				
				<h:outputLabel value="Last Name" />
				<h:inputText value="#{employeBean.employe.lastName}" />
								
				<h:outputLabel value="Login" />
				<h:inputText value="#{employeBean.employe.login}" />
				
				<h:outputLabel value="date Naissance" />
				<h:inputText value="#{employeBean.employe.dateNaissance}">
					<f:convertDateTime pattern="dd/MM/yyyy"/>
				</h:inputText>
				
				<h:selectOneMenu value="#{employeBean.employe.nationalite}">
					<f:selectItems value="#{employeBean.nationalites}"></f:selectItems>
				</h:selectOneMenu>
				 
				<h:commandButton action="#{employeBean.update()}" value="Mettre A Jour" />
				
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>
