<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head></h:head>
<h:body>
	<h:form id="form">
		<h:panelGrid columns="2">
			<h:outputLabel value="Login : " />
			<h:inputText value="#{authentificationBean.login}" />
			<h:outputLabel value="Password : " />
			<h:inputText value="#{authentificationBean.password}" />
			<h:commandButton id="btn" action="#{authentificationBean.doLogin()}" value="Connect" />
			<h:message for="btn"/>
			<h:outputLabel rendered="#{!authentificationBean.resultat.equals('')}" value="#{authentificationBean.resultat}" />
		</h:panelGrid>
	</h:form>
</h:body>
</html>
