<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
Welcome
</h:head> 
<h:body>

<h:outputLabel value="#{authentificationBean.employe.name}" />
<div></div>
<h:form id="form1">
<h:commandButton action="#{authentificationBean.logOut()}" value="LogOut" />
</h:form>

</h:body>
</html>
