<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">

	<ui:define name="titre">
		Welcome
</ui:define>

	<ui:define name="content">

		<h:outputLabel value="#{authentificationBean.employe.name}" />
		<div></div>
		<h:form id="form1">
			<h:commandButton action="#{authentificationBean.logOut()}" value="LogOut" />
		</h:form>

	</ui:define>
</ui:composition>
